@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
  border: 2px solid red;
} */

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1e1f;
  box-shadow: 1px 1px 5px #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background: #34CAA5;
}