@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
  border: 2px solid red;
} */

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
  height: 4px;
  
}

::-webkit-scrollbar-track {
  background: #1e1e1f;
  box-shadow: 1px 1px 5px #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background: #34CAA5;
}

.logo {
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1); /* Adjust the scale factor as needed */
}